@charset "UTF-8";
body {
  font-family: "Montserrat";
  font-weight: 400;
  color: #4a4a4a;
  text-align: center;
  background-color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

a {
  color: #0b0b0b;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
a:hover {
  color: #4a4a4a;
}

h1 {
  font-family: "Playfair Display";
  font-weight: 900;
  max-width: 150px;
  width: 100%;
  color: #0b0b0b;
  font-size: 42px;
  font-size: 2.625rem;
}
h1 small {
  font-size: 22px;
  font-size: 1.375rem;
  font-weight: 400;
}

h2 {
  text-transform: uppercase;
  margin-bottom: 15px;
  background: url(../img/detalle-separacion.svg) center top no-repeat transparent;
  padding-top: 25px;
  font-size: 20px;
  font-size: 1.25rem;
}

h3 {
  font-family: "Playfair Display";
  font-weight: 700;
  text-transform: none;
  letter-spacing: 0.7px;
  line-height: 45px;
  margin-bottom: 15px;
  font-size: 38px;
  font-size: 2.375rem;
}

h4 {
  font-family: "Playfair Display";
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0.5px;
  color: #4a4a4a;
  margin-bottom: 15px;
  font-size: 28px;
  font-size: 1.75rem;
}
@media (min-width: 1023px) and (max-width: 1360px) {
  h4 {
    font-size: 40px;
    font-size: 2.5rem;
  }
}

h5 {
  color: #4a4a4a;
  margin: 30px 0 10px;
}

h6 {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 25px;
  color: #4a4a4a;
  letter-spacing: 0;
  margin-bottom: 60px;
}

p {
  margin-bottom: 30px;
}

.font-size-20 {
  font-size: 20px;
  font-size: 1.25rem;
}

.text-brown {
  color: #655536;
}

.subheading {
  font-weight: 500;
}

.banner {
  padding-top: 220px;
}
@media (min-width: 1023px) and (max-width: 1360px) {
  .banner {
    padding-top: 70px;
  }
}
.banner h1.title-banner {
  font-family: "Playfair Display";
  line-height: 60px;
  letter-spacing: 1.3px;
  width: 100%;
  color: #4a4a4a;
  font-weight: 400;
  max-width: 1000px;
  margin-bottom: 15px;
  background: url(../img/detalle-separacion.svg) center bottom no-repeat transparent;
  padding-bottom: 70px;
  font-size: 50px;
  font-size: 3.125rem;
}
.banner p {
  line-height: 35px;
  letter-spacing: 0;
  margin: 0;
  font-weight: 500;
  text-align: center !important;
  font-size: 20px;
  font-size: 1.25rem;
}
.banner blockquote {
  font-family: "Playfair Display";
  font-style: italic;
  letter-spacing: 0.5px;
  color: #4a4a4a;
  margin: 50px 0 0;
  padding: 0;
  font-size: 30px;
  font-size: 1.875rem;
}

.btn {
  font-weight: 700;
  padding: 17px;
  width: 100%;
  max-width: 250px;
  border-radius: 50px;
  font-size: 18px;
  font-size: 1.125rem;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.btn-success {
  background-color: #166439;
  border: none;
  color: white;
  margin: 0 auto;
}
.btn-success:hover {
  background-color: #114E2C;
}
.btn-slide-down {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin: 0 auto;
  background: url("../img/btn-scroll-banner.png") center top no-repeat white;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.btn-slide-down:hover {
  bottom: -33px;
}
.btn-outline {
  background: transparent;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.btn-outline-light {
  color: white;
  border: 2px solid white;
}
.btn-outline-light:hover {
  background: white;
  color: #166439;
}
.btn-outline-success {
  color: #166439;
  border: 2px solid #166439;
}
.btn-outline-success:hover {
  background: #166439;
  color: #efefef;
}

.card {
  border-radius: 30px;
  width: 300px !important;
  height: 450px;
  background: #fff;
  overflow: hidden;
  margin: 0 60px 0 0;
}
@media (min-width: 1023px) and (max-width: 1360px) {
  .card {
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
  }
}
.card .card-img-container {
  height: 50%;
  width: 100%;
  background: black;
  color: white;
  position: relative;
  margin: 0 0 24px;
}
.card .card-img-container .card-img-top {
  position: absolute;
  color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}
.card .card-img-container .card-title-img {
  font-family: "Playfair Display";
  position: absolute;
  color: white;
  top: 40px;
  z-index: 1;
  letter-spacing: 0.83px;
  line-height: 40px;
  font-size: 30px;
  font-size: 1.875rem;
}
.card .card-img-container.d-flex {
  justify-content: center;
  align-items: center;
}
.card .card-img-container.d-flex .card-title-img {
  position: static;
  margin: 0;
}
.card .card-img-container .medalla {
  position: absolute;
  top: 126px;
  left: 10px;
  z-index: 2;
  width: 142px;
  height: 142px;
  display: block;
}
.card .card-body {
  padding: 0;
}
.card .card-body h4 {
  color: #166439;
  font-weight: 600;
  font-family: "Montserrat";
  margin: 0 0 5px;
  font-size: 14px;
  font-size: 0.875rem;
}
.card .card-body .card-title {
  margin: 0 0 5px;
  letter-spacing: 0.5px;
  font-family: "Playfair Display";
  font-size: 30px;
  font-size: 1.875rem;
}
.card .card-body .card-text {
  font-family: "Montserrat";
  line-height: 25px;
  letter-spacing: 0;
  text-align: center;
  padding: 0 1.25rem;
  font-size: 18px;
  font-size: 1.125rem;
}

.insta {
  width: 95px;
  height: 95px;
  margin: 0 17.5px;
  margin: 7.5px;
  background: #0b0b0b;
  border-radius: 30px;
}
@media (min-width: 1023px) and (max-width: 1360px) {
  .insta {
    width: 150px;
    height: 150px;
    margin: 17.5px;
  }
}

@media (min-width: 1023px) and (max-width: 1360px) {
  .home .productos-carousel {
    display: flex;
    transform: none !important;
    max-width: 100%;
  }
}
@media (min-width: 1023px) and (max-width: 1360px) {
  .home .productos-carousel .owl-stage-outer {
    display: flex;
    justify-content: center;
  }
}
.home .productos-carousel .media {
  width: 100%;
  max-width: 300px;
  height: 265px;
  border-radius: 30px;
  background: black;
  color: white;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: stretch;
  margin: 0 15px;
}
@media (min-width: 1023px) and (max-width: 1360px) {
  .home .productos-carousel .media {
    margin: 0 22.5px;
    max-width: 450px;
  }
}
.home .productos-carousel .media .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  padding: 20px;
  z-index: 1;
  background: rgba(0, 0, 0, 0.3);
}
@media (min-width: 1023px) and (max-width: 1360px) {
  .home .productos-carousel .media .content {
    padding: 20px 90px;
  }
}
.home .productos-carousel .media .content .text {
  height: 150px;
}
.home .productos-carousel .media .content .text h4 {
  font-size: 30px;
  font-size: 1.875rem;
  font-weight: 700;
  color: white;
}
.home .productos-carousel .media .content .text p {
  font-weight: 500;
  letter-spacing: 0;
  margin-bottom: 0;
  line-height: 24px;
  font-size: 18px;
  font-size: 1.125rem;
}
.home .productos-carousel .media .content .btn {
  border-radius: 50px;
  font-weight: 700;
  border: 2px solid white;
  padding: 10px 0;
  width: 100%;
  max-width: 220px;
  margin: 0 auto;
  font-size: 14px;
  font-size: 0.875rem;
}
.home .productos-carousel .media .content .btn:hover {
  background: white;
  color: #166439 !important;
}
.home .productos-carousel .media img {
  position: absolute;
  object-fit: cover;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.home .producto {
  width: 180px;
  margin: 0 30px;
}
.home .producto img {
  width: auto;
  margin: 20px auto;
}
.home .producto h3 {
  color: #0b0b0b;
  line-height: 1.125rem;
  margin: 0 0 5px 0 !important;
  font-size: 18px;
  font-size: 1.125rem;
}
.home .producto p {
  font-size: 14px;
  font-size: 0.875rem;
}
.home .producto .btn {
  padding: 14px;
  width: 100%;
  max-width: 160px;
  font-size: 14px;
  font-size: 0.875rem;
}

.icons {
  display: flex;
  justify-content: space-around;
}
.icons div {
  width: 40%;
  margin: 0;
}
@media (min-width: 1023px) and (max-width: 1360px) {
  .icons div {
    width: 18%;
    margin: 0 16px 0 0;
  }
}
.icons div img {
  margin-bottom: 5px;
  height: 45px;
}
.icons div p {
  display: flex;
  flex-direction: column;
  font-style: italic;
  text-align: center;
  font-size: 14px;
  font-size: 0.875rem;
}

form .form-group {
  position: relative;
  margin-bottom: 20px;
}
form .form-group label {
  color: #9a9a9a;
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px 30px;
  width: 100%;
  text-align: left;
  font-size: 14px;
  font-size: 0.875rem;
}
form .form-group .form-control {
  border-radius: 25px;
  border: 1px solid #efefef;
  text-align: center;
}
form .form-group textarea {
  height: 160px;
  resize: none;
}
form .form-group input[type=text],
form .form-group input[type=email] {
  height: 50px;
  color: #9a9a9a;
}
form button.btn.btn-success {
  border: none;
  width: 100%;
  display: block;
  margin: 10px auto !important;
  padding: 20px;
  height: 60px;
  max-width: 300px;
  border-radius: 30px;
  font-weight: 600;
  font-size: 18px;
  font-size: 1.125rem;
}
@media (min-width: 1023px) and (max-width: 1360px) {
  form button.btn.btn-success {
    margin: 10px 0 !important;
  }
}

.hero.is-dark .carousel-control-prev-icon {
  background-image: url("../img/flecha-izquierda-blanca.svg");
}
.hero.is-dark .carousel-control-next-icon {
  background-image: url("../img/flecha-derecha-blanca.svg");
}
.hero.is-dark .carousel-caption {
  color: #efefef !important;
}
.hero.is-light .carousel-control-prev-icon {
  background-image: url("../img/flecha-izquierda-verde.svg");
}
.hero.is-light .carousel-control-next-icon {
  background-image: url("../img/flecha-derecha-verde.svg");
}
.hero.is-light .carousel-caption {
  color: #4a4a4a !important;
}
.hero .carousel.slide {
  height: 680px;
  margin-bottom: 50px;
  border-radius: 0 0 100% 100%/30%;
  overflow: hidden;
}
@media (min-width: 1023px) and (max-width: 1360px) {
  .hero .carousel.slide {
    margin-bottom: 70px;
    border-radius: 0;
    overflow: visible;
  }
}
.hero .carousel.slide .carousel-inner .carousel-item {
  height: 100%;
}
.hero .carousel.slide .carousel-inner .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.hero .carousel.slide .carousel-inner .carousel-item img.object-fit-contain {
  object-fit: contain !important;
}
.hero .carousel.slide .carousel-inner .carousel-item .carousel-caption {
  display: flex;
  flex-direction: column;
  height: 100%;
}
@media (max-width: 767px) {
  .hero .carousel.slide .carousel-inner .carousel-item .carousel-caption {
    left: 0;
    right: 0;
  }
}
@media (min-width: 1023px) and (max-width: 1360px) {
  .hero .carousel.slide .carousel-inner .carousel-item .carousel-caption {
    left: 11%;
    right: 11%;
  }
}
.hero .carousel.slide .carousel-inner .carousel-item .carousel-caption h1 {
  font-weight: 600;
  max-width: 100%;
  letter-spacing: 0.7px;
  line-height: 45px;
  color: #4a4a4a;
  margin-bottom: 15px;
  font-size: 40px;
  font-size: 2.5rem;
}
@media (min-width: 1023px) and (max-width: 1360px) {
  .hero .carousel.slide .carousel-inner .carousel-item .carousel-caption h1 {
    line-height: 70px;
    letter-spacing: 1.3px;
    font-size: 60px;
    font-size: 3.75rem;
  }
}
.hero .carousel.slide .carousel-inner .carousel-item .carousel-caption img {
  width: 80% !important;
}
@media (min-width: 1023px) and (max-width: 1360px) {
  .hero .carousel.slide .carousel-inner .carousel-item .carousel-caption img {
    display: none;
  }
}
.hero .carousel.slide .carousel-inner .carousel-item .carousel-caption p {
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0;
  font-size: 18px;
  font-size: 1.125rem;
}
@media (min-width: 1023px) and (max-width: 1360px) {
  .hero .carousel.slide .carousel-inner .carousel-item .carousel-caption p {
    font-size: 20px;
    font-size: 1.25rem;
  }
}
.hero .carousel.slide .carousel-inner .carousel-item .carousel-caption p strong {
  font-weight: 700;
}
.hero .carousel-control-prev-icon {
  background-image: url("../img/flecha-izquierda-blanca.svg");
}
.hero .carousel-control-next-icon {
  background-image: url("../img/flecha-derecha-blanca.svg");
}
.hero .carousel-caption {
  color: #efefef !important;
}

footer {
  background-image: linear-gradient(rgba(255, 255, 255, 0), white);
  padding: 0 0 14px;
}
@media (min-width: 1023px) and (max-width: 1360px) {
  footer {
    padding: 30px 0 14px;
  }
}
@media (min-width: 1023px) and (max-width: 1360px) {
  footer .container {
    border-top: 1px solid #efefef;
    padding-top: 30px;
  }
}
footer .logo-footer {
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  padding: 50px 0 30px;
  margin: 30px 0;
}
@media (min-width: 1023px) and (max-width: 1360px) {
  footer .logo-footer {
    border: none;
    margin: 0;
  }
}
footer .logo-footer .link {
  margin: 30px 0 0;
  font-family: "Playfair Display";
  color: #4a4a4a;
  font-weight: 700;
  font-size: 20px;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .logo-footer .link .ig {
  background: url(../img/IG.svg) no-repeat center transparent;
  width: 20px;
  height: 20px;
  display: block;
  margin-right: 5px;
  margin-top: 5px;
}
footer .footer-nav-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 1023px) and (max-width: 1360px) {
  footer .footer-nav-column {
    padding: 0 80px;
  }
}
footer .footer-nav-column a {
  color: #4a4a4a;
  line-height: 40px;
  font-weight: 500;
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-size: 1.125rem;
}
@media (min-width: 1023px) and (max-width: 1360px) {
  footer .footer-nav-column a {
    max-width: 290px;
  }
}
@media (min-width: 1023px) and (max-width: 1360px) {
  footer .border-right-light {
    border-right: 1px solid #efefef;
  }
}
@media (min-width: 1023px) and (max-width: 1360px) {
  footer .border-left-light {
    border-left: 1px solid #efefef;
  }
}
footer p {
  width: 100%;
  padding-top: 30px;
  line-height: 20px;
  letter-spacing: 1.3px;
  margin-top: 30px;
  border-top: 1px solid #efefef;
  text-align: center;
  font-size: 14px;
  font-size: 0.875rem;
}

@media (min-width: 1023px) and (max-width: 1360px) {
  .suscripcion {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.suscripcion .suscripcion-title {
  text-transform: none;
  font-family: "Montserrat";
  text-align: center;
  margin: 0 0 10px !important;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  font-size: 1.125rem;
}
@media (min-width: 1023px) and (max-width: 1360px) {
  .suscripcion .suscripcion-title {
    line-height: 25px;
    background: none;
    text-align: left;
    padding: 0;
    margin: 0;
    letter-spacing: 0;
  }
}
.suscripcion h4 {
  margin-bottom: 36px;
  font-size: 33px;
  font-size: 2.0625rem;
}
@media (min-width: 1023px) and (max-width: 1360px) {
  .suscripcion h4 {
    letter-spacing: 0.5px;
    margin: 0;
    text-align: left;
  }
}
@media (min-width: 1023px) and (max-width: 1360px) {
  .suscripcion .suscripcion-form {
    width: 70%;
    max-width: 100%;
  }
}
@media (min-width: 1023px) and (max-width: 1360px) {
  .suscripcion .suscripcion-form .form-group {
    margin: 0 5px;
  }
}
.suscripcion .suscripcion-form .form-group label {
  text-align: center !important;
}
.suscripcion .suscripcion-form button.btn.btn-success {
  border: none;
  width: 100%;
  max-width: 200px;
  height: 45px;
  padding: 0;
  display: inline-block;
  margin: 0;
  font-size: 14px;
  font-size: 0.875rem;
}
@media (min-width: 1023px) and (max-width: 1360px) {
  .suscripcion .suscripcion-form button.btn.btn-success {
    max-width: 150px;
    margin: 0 25px !important;
  }
}

.hero.is-dark .navbar-toggler .navbar-toggler-icon {
  background: white;
}
.hero.is-dark .navbar-toggler .navbar-toggler-icon:before, .hero.is-dark .navbar-toggler .navbar-toggler-icon:after {
  background: white;
}
.hero.is-dark .navbar-brand {
  background-image: url(../img/logo-ao-white.svg);
}
.hero.is-dark .shopping-cart-btn {
  background-image: url(../img/carrito-blanco.svg);
}
@media (min-width: 1023px) and (max-width: 1360px) {
  .hero.is-dark .nav-link {
    color: white !important;
  }
}
.hero.is-light .navbar-toggler .navbar-toggler-icon {
  background: #0b0b0b;
}
.hero.is-light .navbar-toggler .navbar-toggler-icon:before, .hero.is-light .navbar-toggler .navbar-toggler-icon:after {
  background: #0b0b0b;
}
.hero.is-light .navbar-brand {
  background-image: url("../img/logo-ao-black.svg");
}
.hero.is-light .shopping-cart-btn {
  background-image: url("../img/carrito-negro.svg");
}
@media (min-width: 1023px) and (max-width: 1360px) {
  .hero.is-light .nav-link {
    color: #4a4a4a !important;
  }
}
@media (max-width: 767px) {
  .hero #toggle.collapse {
    position: absolute;
    height: 100vh;
    top: -1px;
    left: -1px;
    background: rgba(0, 0, 0, 0.5);
    width: 100vh;
    margin: 0;
    padding: 0;
    -webkit-transition: all 0.2 ease-in-out;
    -moz-transition: all 0.2 ease-in-out;
    -ms-transition: all 0.2 ease-in-out;
    -o-transition: all 0.2 ease-in-out;
    transition: all 0.2 ease-in-out;
  }
  .hero #toggle.collapse .navbar-nav {
    margin-left: -100%;
    -webkit-transition: all 0.5 ease-in-out;
    -moz-transition: all 0.5 ease-in-out;
    -ms-transition: all 0.5 ease-in-out;
    -o-transition: all 0.5 ease-in-out;
    transition: all 0.5 ease-in-out;
  }
  .hero #toggle.collapse.show {
    left: -1px !important;
    top: -1px !important;
  }
  .hero #toggle.collapse.show .navbar-nav {
    margin-top: 0 !important;
    background: white;
    height: 100vh;
    width: 70vw;
    padding: 20px;
    margin-left: 0;
  }
  .hero #toggle.collapse.show .navbar-nav .nav-link {
    font-weight: 500;
    letter-spacing: 1px;
    padding: 0 !important;
    color: inherit;
    text-align: left;
    font-size: 14px;
    font-size: 0.875rem;
    padding-bottom: 15px !important;
    margin-bottom: 15px;
    border-bottom: 1px solid #f6f6f6;
    font-size: 16px;
    font-size: 1rem;
  }
  .hero #toggle.collapse.show .navbar-nav .navbar-toggler-close {
    height: 25px;
    width: 25px;
    display: block;
    border: none;
    background: none;
    margin: 10px 0 20px;
    padding: 0;
    -webkit-appearance: none;
  }
  .hero #toggle.collapse.show .navbar-nav .navbar-toggler-close .icon {
    background: black;
    display: block;
    transform: rotate(45deg);
    width: 24px;
    height: 2.4px;
    margin: 0;
    padding: 0;
  }
  .hero #toggle.collapse.show .navbar-nav .navbar-toggler-close .icon:before {
    content: "";
    background: black;
    display: block;
    transform: rotate(-90deg);
    width: 24px;
    height: 2.4px;
    margin: 0;
    padding: 0;
  }
}
.hero .navbar {
  background-color: transparent !important;
  padding-top: 55px;
  padding-bottom: 55px;
  border: 1px solid transparent;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.hero .navbar.sticky {
  background-color: white !important;
  color: #4a4a4a !important;
  border-bottom: 1px solid #f6f6f6;
  padding-top: 22px !important;
  padding-bottom: 22px !important;
}
.hero .navbar .navbar-toggler {
  padding: 0;
}
.hero .navbar .navbar-toggler .navbar-toggler-icon {
  width: 24px;
  height: 2.4px;
  border-radius: 4px;
}
.hero .navbar .navbar-toggler .navbar-toggler-icon:before, .hero .navbar .navbar-toggler .navbar-toggler-icon:after {
  content: "";
  width: 32px;
  height: 2.4px;
  border-radius: 4px;
  display: block;
}
.hero .navbar .navbar-toggler .navbar-toggler-icon:before {
  margin-top: -12px;
}
.hero .navbar .navbar-toggler .navbar-toggler-icon:after {
  margin-top: 22px;
}
.hero .navbar .navbar-brand {
  width: 62px;
  height: 30px;
  margin: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  padding: 0;
}
.hero .navbar .shopping-cart-btn {
  width: 25px;
  height: 32px;
  flex-grow: 0;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.hero .navbar .shopping-cart-btn .cart-number {
  position: absolute;
  bottom: 3px;
  left: -9px;
  margin: 0;
  border-radius: 50px;
  background: #166439;
  color: white;
  width: 21px;
  height: 21px;
  font-weight: 600;
  text-align: center;
  line-height: 20px;
  font-size: 11px;
  font-size: 0.6875rem;
}
.hero .navbar .nav-link {
  font-weight: 500;
  letter-spacing: 1px;
  padding: 0 !important;
  color: inherit;
  text-align: left;
  font-size: 14px;
  font-size: 0.875rem;
}
@media (min-width: 1023px) and (max-width: 1360px) {
  .hero .navbar .nav-link {
    text-align: right;
    padding: 0 10px !important;
  }
}
.hero .navbar-toggler .navbar-toggler-icon {
  background: #0b0b0b;
}
.hero .navbar-toggler .navbar-toggler-icon:before, .hero .navbar-toggler .navbar-toggler-icon:after {
  background: #0b0b0b;
}
.hero .navbar-brand {
  background-image: url("../img/logo-ao-black.svg");
}
.hero .shopping-cart-btn {
  background-image: url("../img/carrito-negro.svg");
}
.hero .nav-link {
  color: #4a4a4a !important;
}

.contacto:before {
  background-image: url("../img/fondo-contacto.png");
  opacity: 0.15;
  filter: alpha(opacity=15);
}
@media (min-width: 1023px) and (max-width: 1360px) {
  .contacto:before {
    background-position: center top;
  }
}
.contacto address div {
  display: flex;
  margin-bottom: 22px;
}
.contacto address div .icon-address {
  width: 30px;
  height: 30px;
  margin-right: 30px;
  background-repeat: no-repeat;
  background-size: contain;
}
.contacto address div .icon-address.phone {
  background-image: url(../img/icono-telefono.svg);
}
.contacto address div .icon-address.email {
  background-image: url(../img/icono-mail.svg);
}
.contacto address div .icon-address.map {
  background-image: url(../img/icono-direccion.svg);
}
.contacto address div p {
  margin: 0;
  font-size: 18px;
  font-size: 1.125rem;
}
.contacto .distribucion-banner {
  background-image: url(../../img/fondo-distribución-banner.png);
  background-color: transparent;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  border-radius: 20px;
  background-size: cover;
}
@media (min-width: 1023px) and (max-width: 1360px) {
  .contacto .distribucion-banner {
    background-size: 100%;
  }
}
.contacto .distribucion-banner h3 {
  font-weight: 400;
  color: #4a4a4a;
  margin-bottom: 22px;
  font-size: 30px;
  font-size: 1.875rem;
}
@media (min-width: 1023px) and (max-width: 1360px) {
  .contacto .distribucion-banner h3 {
    font-size: 40px;
    font-size: 2.5rem;
  }
}
.contacto .distribucion-banner .btn {
  height: 45px;
  padding: 10px 17px;
  max-width: 300px;
  font-size: 14px;
  font-size: 0.875rem;
}

.distribuir:before {
  background-image: url("../img/fondo-distribuir.png");
  opacity: 0.05;
  filter: alpha(opacity=5);
}
@media (min-width: 1023px) and (max-width: 1360px) {
  .distribuir:before {
    background-position: center -200px;
  }
}
@media (min-width: 1023px) and (max-width: 1360px) {
  .distribuir h2 {
    width: 65%;
  }
}

.aceite h4 {
  margin-bottom: 50px;
}
@media (min-width: 1023px) and (max-width: 1360px) {
  .aceite h4 {
    margin-bottom: 70px;
  }
}

.aceite-container {
  position: relative;
}
@media (min-width: 1023px) and (max-width: 1360px) {
  .aceite-container:after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    object-fit: contain;
    background-color: white;
    background-image: url(../img/fondo-botellas.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -2;
    background-size: 100%;
  }
}
@media (min-width: 1023px) and (max-width: 1360px) {
  .aceite-container:before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    object-fit: contain;
    background: #f6f6f6;
    background: linear-gradient(white 10%, rgba(255, 255, 255, 0.45) 50%, white 90%);
    z-index: -1;
  }
}

@media (min-width: 1023px) and (max-width: 1360px) {
  .slick-list {
    margin: 0 auto !important;
  }
}

.historia:after {
  background: linear-gradient(rgba(255, 255, 255, 0) 0%, white 40%);
}
.historia:before {
  background-image: url("../img/fondo-historia.png");
  object-fit: auto;
  background-size: auto !important;
  opacity: 1 !important;
  opacity: 1;
  filter: alpha(opacity=100);
}
@media (min-width: 1023px) and (max-width: 1360px) {
  .historia:before {
    background-size: 100%;
    object-fit: contain;
  }
}
.historia .banner blockquote {
  background-image: url("../img/comillas.png");
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px 0;
}

.prensa-y-premios:before {
  object-fit: cover;
  background-image: url("../img/fondo-distribuir.png");
  opacity: 0.05;
  filter: alpha(opacity=5);
}
@media (min-width: 1023px) and (max-width: 1360px) {
  .prensa-y-premios:before {
    background-position: center -200px !important;
  }
}
.prensa-y-premios h2 {
  padding-top: 25px;
  font-weight: 400;
  margin-bottom: 0 !important;
  text-align: center !important;
}
@media (min-width: 1023px) and (max-width: 1360px) {
  .prensa-y-premios h2 {
    text-align: left !important;
  }
}
.prensa-y-premios p {
  text-align: center !important;
}
@media (min-width: 1023px) and (max-width: 1360px) {
  .prensa-y-premios p {
    text-align: left !important;
  }
}
.prensa-y-premios .premios,
.prensa-y-premios .prensa {
  width: 100%;
  background-color: white;
}
.prensa-y-premios .premios.slick-slider,
.prensa-y-premios .prensa.slick-slider {
  width: 100%;
  position: relative;
}
.prensa-y-premios .premios.slick-slider div,
.prensa-y-premios .prensa.slick-slider div {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.prensa-y-premios .premios.slick-slider .slick-list,
.prensa-y-premios .prensa.slick-slider .slick-list {
  padding: 0 0 20px 0;
}
.prensa-y-premios .premios.slick-slider .slick-arrow,
.prensa-y-premios .prensa.slick-slider .slick-arrow {
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 55px;
  height: 55px;
  border: 1px solid #166439;
  color: #166439;
  border-radius: 50px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.prensa-y-premios .premios.slick-slider .slick-arrow.prev,
.prensa-y-premios .prensa.slick-slider .slick-arrow.prev {
  background-image: url(../img/flecha-izquierda-verde.svg);
}
@media (min-width: 1023px) and (max-width: 1360px) {
  .prensa-y-premios .premios.slick-slider .slick-arrow.prev,
.prensa-y-premios .prensa.slick-slider .slick-arrow.prev {
    right: 255px;
  }
}
.prensa-y-premios .premios.slick-slider .slick-arrow.prev:hover,
.prensa-y-premios .prensa.slick-slider .slick-arrow.prev:hover {
  background-image: url(../img/flecha-izquierda-blanca.svg);
}
.prensa-y-premios .premios.slick-slider .slick-arrow.next,
.prensa-y-premios .prensa.slick-slider .slick-arrow.next {
  background-image: url(../img/flecha-derecha-verde.svg);
}
@media (min-width: 1023px) and (max-width: 1360px) {
  .prensa-y-premios .premios.slick-slider .slick-arrow.next,
.prensa-y-premios .prensa.slick-slider .slick-arrow.next {
    right: 185px;
  }
}
.prensa-y-premios .premios.slick-slider .slick-arrow.next:hover,
.prensa-y-premios .prensa.slick-slider .slick-arrow.next:hover {
  background-image: url(../img/flecha-derecha-blanca.svg);
}
@media (min-width: 1023px) and (max-width: 1360px) {
  .prensa-y-premios .premios.slick-slider .slick-arrow,
.prensa-y-premios .prensa.slick-slider .slick-arrow {
    top: -100px;
    position: absolute;
  }
}
.prensa-y-premios .premios.slick-slider .slick-arrow:hover,
.prensa-y-premios .prensa.slick-slider .slick-arrow:hover {
  background-color: #166439;
}

.producto-detalle {
  text-align: center;
}
@media (min-width: 1023px) and (max-width: 1360px) {
  .producto-detalle {
    text-align: left;
  }
}
@media (min-width: 1023px) and (max-width: 1360px) {
  .producto-detalle .container .w-md-100 {
    width: 100% !important;
  }
}
.producto-detalle .fixed-bottom-carousel {
  position: static;
}
@media (min-width: 1023px) and (max-width: 1360px) {
  .producto-detalle .fixed-bottom-carousel {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
  }
}
.producto-detalle .navbar {
  background: transparent;
}
.producto-detalle .carousel.slide.product {
  height: 390px;
  margin-bottom: 10px;
  position: relative;
  border-radius: 0;
  -webkit-transition: top 0.2s ease-in-out;
  -moz-transition: top 0.2s ease-in-out;
  -ms-transition: top 0.2s ease-in-out;
  -o-transition: top 0.2s ease-in-out;
  transition: top 0.2s ease-in-out;
}
@media (min-width: 1023px) and (max-width: 1360px) {
  .producto-detalle .carousel.slide.product {
    height: 633px;
    position: fixed;
    top: 78px;
    background-color: #efefef;
  }
}
@media (min-width: 1023px) and (max-width: 1360px) {
  .producto-detalle .carousel.slide.product .carousel-control-next,
.producto-detalle .carousel.slide.product .carousel-control-prev {
    height: 80%;
  }
}
.producto-detalle .carousel.slide.product.at-footer {
  position: absolute;
  bottom: 0;
  top: 0;
}
@media (min-width: 1023px) and (max-width: 1360px) {
  .producto-detalle .carousel.slide.product.sticky {
    top: 78px;
    position: fixed;
  }
}
@media (min-width: 1023px) and (max-width: 1360px) {
  .producto-detalle .carousel.slide.product {
    max-width: 530px;
    width: 100%;
  }
}
.producto-detalle .carousel.slide.product .carousel-inner {
  border-radius: 0px 0px 30px 30px;
  height: 100%;
}
@media (min-width: 1023px) and (max-width: 1360px) {
  .producto-detalle .carousel.slide.product .carousel-inner {
    border-radius: 0 0 0 0 !important;
    height: auto;
  }
}
.producto-detalle .carousel.slide.product img {
  object-fit: cover;
}
@media (min-width: 1023px) and (max-width: 1360px) {
  .producto-detalle .carousel.slide.product img {
    object-fit: none;
  }
}
.producto-detalle .carousel.slide.product .carousel-indicators {
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
  margin: 0;
  height: 130px;
  justify-content: end;
  align-items: end;
  padding: 0;
  display: none;
}
@media (min-width: 1023px) and (max-width: 1360px) {
  .producto-detalle .carousel.slide.product .carousel-indicators {
    display: flex;
  }
}
.producto-detalle .carousel.slide.product .carousel-indicators li {
  width: 130px;
  height: 100%;
  top: 0;
  position: relative;
  bottom: 0;
  border: 0;
  margin: 0;
}
.producto-detalle .carousel.slide.product .carousel-indicators li img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0;
  bottom: 0;
}
@media (min-width: 1023px) and (max-width: 1360px) {
  .producto-detalle .content {
    margin-top: 50px;
    margin-left: 50px;
  }
}
.producto-detalle .content .content-title {
  font-size: 30px;
  letter-spacing: 0.5px;
  text-align: center !important;
}
@media (min-width: 1023px) and (max-width: 1360px) {
  .producto-detalle .content .content-title {
    text-align: left !important;
  }
}
.producto-detalle .content .description {
  line-height: 25px;
  letter-spacing: 0;
  color: #4a4a4a;
  text-align: center;
  font-size: 18px;
  font-size: 1.125rem;
}
@media (min-width: 1023px) and (max-width: 1360px) {
  .producto-detalle .content .description {
    width: 69%;
    text-align: left;
  }
}
.producto-detalle .content .price {
  font-family: "Playfair Display";
  font-weight: 900;
  font-size: 40px;
  font-size: 2.5rem;
  color: #655536;
  letter-spacing: 0.7px;
  margin: 10px 0 30px !important;
  text-align: center;
}
@media (min-width: 1023px) and (max-width: 1360px) {
  .producto-detalle .content .price {
    text-align: left;
  }
}
.producto-detalle .content .maridaje {
  display: flex;
  justify-content: space-around;
}
@media (min-width: 1023px) and (max-width: 1360px) {
  .producto-detalle .content .maridaje {
    justify-content: start;
  }
}
.producto-detalle .content .maridaje .item {
  background: url(../img/bg-card-maridaje.png) no-repeat 0px 0px transparent;
  width: 150px;
  height: 300px;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1023px) and (max-width: 1360px) {
  .producto-detalle .content .maridaje .item {
    margin-right: 20px;
  }
}
.producto-detalle .content .maridaje .item .item-icon {
  width: 90px;
  height: 90px;
  background: white;
  border: 2px solid #efefef;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}
.producto-detalle .content .maridaje .item h5 {
  font-family: "Playfair Display";
  font-weight: 600;
  text-transform: none;
  letter-spacing: 0.5px;
  color: #4a4a4a;
  margin: 0 0 10px 0;
  text-align: center;
  font-size: 18px;
  font-size: 1.125rem;
}
.producto-detalle .content .maridaje .item p {
  font-weight: 500;
  text-align: center;
  font-size: 14px;
  font-size: 0.875rem;
  text-align: center !important;
}
.producto-detalle .content .badge {
  border: 2px solid #f6f6f6;
  border-radius: 22px;
  color: #4a4a4a;
  min-width: 80px;
  width: 100%;
  height: 45px;
  font-weight: 500;
  padding: 10px 0;
  margin: 5px;
  font-size: 14px;
  font-size: 0.875rem;
}
.producto-detalle .content .badge.active {
  border: 2px solid #166439;
  color: #166439;
  font-weight: 600;
}
.producto-detalle .content .counter {
  width: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;
  font-size: 1.875rem;
}
.producto-detalle .content .counter .qty {
  color: #4a4a4a;
  font-weight: 600;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  border: 0;
  width: 40%;
  background: none;
  text-align: center;
  font-size: 18px;
  font-size: 1.125rem;
}
.producto-detalle .content .counter input::-webkit-outer-spin-button,
.producto-detalle .content .counter input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.producto-detalle .content .counter button {
  cursor: pointer;
  font-weight: 400;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0;
  background: none;
  text-align: center;
}

.inner-page {
  position: relative;
}
@media (min-width: 1023px) and (max-width: 1360px) {
  .inner-page {
    text-align: center;
    padding-top: 78px;
    -webkit-transition: padding-top 0.2s ease-in-out;
    -moz-transition: padding-top 0.2s ease-in-out;
    -ms-transition: padding-top 0.2s ease-in-out;
    -o-transition: padding-top 0.2s ease-in-out;
    transition: padding-top 0.2s ease-in-out;
  }
}
.inner-page .navbar {
  padding-top: 22px !important;
  padding-bottom: 22px !important;
}
@media (min-width: 1023px) and (max-width: 1360px) {
  .inner-page .navbar {
    background: white !important;
  }
}
.inner-page .banner .title-banner {
  font-size: 40px;
  font-size: 2.5rem;
}
@media (min-width: 1023px) and (max-width: 1360px) {
  .inner-page .banner .title-banner {
    font-size: 50px;
    font-size: 3.125rem;
  }
}
.inner-page:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: center 78px;
  background-size: 100%;
  opacity: 0.15;
  filter: alpha(opacity=15);
  z-index: -2;
}
@media (min-width: 1023px) and (max-width: 1360px) {
  .inner-page:before {
    background-position: center 78px;
  }
}
.inner-page:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  object-fit: contain;
  background: linear-gradient(rgba(255, 255, 255, 0) 0%, white 40%);
  opacity: 1;
  filter: alpha(opacity=100);
  z-index: -1;
}
.inner-page h2 {
  font-family: "Playfair Display";
  letter-spacing: 0.5px;
  text-align: left;
  padding: 0;
  margin: 0 0 30px;
  text-transform: none;
  background: none !important;
  font-size: 30px;
  font-size: 1.875rem;
}
.inner-page p {
  line-height: 25px;
  letter-spacing: 0;
  color: #4a4a4a;
  text-align: left;
  font-size: 18px;
  font-size: 1.125rem;
}
.inner-page form {
  width: 100%;
  max-width: 400px;
}

.password {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: none;
  background-size: cover;
  background-repeat: no-repeat;
  color: #4a4a4a;
}
.password img {
  margin-bottom: 20px;
}
.password h1.password-heading {
  text-transform: none !important;
  margin-bottom: 15px;
  background: url(../img/detalle-separacion.svg) center top no-repeat transparent;
  padding-top: 25px;
  line-height: 25px;
  letter-spacing: 0;
  font-weight: 200;
  font-family: "Montserrat";
  width: 100%;
  max-width: 100%;
  font-size: 20px;
  font-size: 1.25rem;
}
.password h2.password-subheading {
  font-family: "Playfair Display";
  text-transform: none !important;
  font-weight: 400;
  max-width: 50%;
  width: 100%;
  letter-spacing: 0.5 !important;
  color: #4a4a4a;
  line-height: 48px;
  font-size: 40px;
  font-size: 2.5rem;
  background: none;
  margin: 0 auto 40px;
}
.password .link {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 18px;
  font-size: 1.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.password .link .ig {
  background: url(../img/IG.svg) no-repeat center transparent;
  width: 20px;
  height: 20px;
  display: block;
  margin-right: 5px;
  margin-top: 5px;
}

/*# sourceMappingURL=main.css.map */
