  .contacto {
      &:before {
          background-image: url("../img/fondo-contacto.png");
          @include opacity(0.15);
          @include media(md) {
              background-position: center top;
          }
      }
      address {
          div {
              display: flex;
              margin-bottom: 22px;
              .fas {
                  color: $orange;
                  margin-right: 30px;
                  @include font-size(20px);
              }
              p {
                  margin: 0;
                  @include font-size(18px);
              }
          }
      }
  }