  .contacto {
      &:before {
          background-image: url("../img/fondo-contacto.png");
          @include opacity(0.15);
          @include media(md) {
              background-position: center top;
          }
      }
      address {
          div {
              display: flex;
              margin-bottom: 22px;
              .icon-address {
                  width: 30px;
                  height: 30px;
                  margin-right: 30px;
                  background-repeat: no-repeat;
                  background-size: contain;
                  &.phone {
                      background-image: url(../img/icono-telefono.svg);
                  }
                  &.email {
                      background-image: url(../img/icono-mail.svg);
                  }
                  &.map {
                      background-image: url(../img/icono-direccion.svg);
                  }
              }
              p {
                  margin: 0;
                  @include font-size(18px);
              }
          }
      }
      .distribucion-banner {
          background-image: url(../../img/fondo-distribución-banner.png);
          background-color: transparent;
          background-repeat: no-repeat;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 200px;
          border-radius: 20px;
          background-size: cover;
          @include media(md) {
              background-size: 100%;
          }
          h3 {
              font-weight: 400;
              color: $grey;
              margin-bottom: 22px;
              @include font-size(30px);
              @include media(md) {
                  @include font-size(40px);
              }
          }
          .btn {
              height: 45px;
              padding: 10px 17px;
              max-width: 300px;
              @include font-size(14px);
          }
      }
  }