  .contacto {
      &:before {
          background-image: url("../img/fondo-contacto.png");
          opacity: 0.15;
          @include media(md) {
              background-position: center top;
          }
      }
      address {
          div {
              display: flex;
              margin-bottom: 22px;
              .fas {
                  color: $orange;
                  font-size: 20px;
                  margin-right: 30px;
              }
              p {
                  margin: 0;
                  font-size: 18px;
              }
          }
      }
  }