.distribuir {
    &:before {
        background-image: url("../img/fondo-distribuir.png");
        @include opacity(0.05);
        @include media(md) {
            background-position: center -200px;
        }
    }
    h2 {
        @include media(md) {
            width: 65%;
        }
    }
}