.password {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("../../img/construccion-bg-mobile.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: rgba(74, 74, 74, 1);
    padding: 0 35px;
    @include media(md) {
        background-image: url("../../img/construccion-bg-desk.png");
    }
    img {
        margin-bottom: 20px;
    }
    h1.password-heading {
        text-transform: none!important;
        margin-bottom: 15px;
        background: url('../img/detalle-separacion.svg') center top no-repeat transparent;
        padding-top: 25px;
        line-height: 25px;
        letter-spacing: 0;
        font-weight: 200;
        font-family: $font-text;
        width: 100%;
        max-width: 100%;
        @include font-size(20px);
    }
    h2.password-subheading {
        font-family: $font-title;
        text-transform: none!important;
        font-weight: 400;
        width: 100%;
        letter-spacing: 0.5!important;
        color: $grey;
        line-height: 38px;
        background: none;
        margin: 0 auto 40px;
        padding: 0;
        @include font-size(30px);
        @include media(md) {
            max-width: 50%;
            line-height: 48px;
            @include font-size(40px);
        }
    }
    .link {
        font-family: $font-title;
        font-weight: 700;
        @include font-size(18px);
        display: flex;
        align-items: center;
        justify-content: center;
        .ig {
            background: url(../img/IG.svg) no-repeat center transparent;
            width: 20px;
            height: 20px;
            display: block;
            margin-right: 5px;
            margin-top: 5px;
        }
    }
}