.prensa-y-premios {
    &:before {
        object-fit: cover;
        background-image: url("../img/fondo-distribuir.png");
        opacity: 0.05!important;
        @include media(md) {
            background-position: center -200px!important;
        }
    }
    h2 {
        margin-bottom: 15px;
        padding-top: 25px;
        font-weight: 400;
    }
    .premios,
    .prensa {
        width: 100%;
        background-color: $bg-main;
        &.slick-slider {
            width: 100%;
            position: relative;
            div {
                transition: none;
            }
            .slick-list {
                padding: 0 0 20px 0;
            }
            .slick-arrow {
                &.prev {
                    @include media(md) {
                        right: 150px;
                    }
                    background-image: url(../img/flecha-izquierda-verde.svg);
                    &:hover {
                        background-image: url(../img/flecha-izquierda-blanca.svg);
                    }
                }
                &.next {
                    @include media(md) {
                        right: 80px;
                    }
                    background-image: url(../img/flecha-derecha-verde.svg);
                    &:hover {
                        background-image: url(../img/flecha-derecha-blanca.svg);
                    }
                }
                @include media(md) {
                    top: -100px;
                    position: absolute;
                }
                background-repeat: no-repeat;
                background-position: center;
                display: inline-block;
                width: 55px;
                height: 55px;
                border: 1px solid $green;
                color: $green;
                border-radius: 50px;
                margin: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: white;
                transition: all .2s ease-in-out;
                &:hover {
                    background-color: $green;
                }
            }
        }
    }
}