.producto-detalle {
    .fixed-bottom-carousel {
        @include media(md) {
            position: fixed;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1030;
        }
    }
    .carousel.slide.product {
        height: 390px;
        margin-bottom: 10px;
        @include transition(top .2s ease-in-out);
        @include media(md) {
            position: fixed;
            top: 140px;
        }
        &.at-footer {
            position: absolute;
            bottom: 0;
            top: 0;
        }
        &.sticky {
            @include media(md) {
                top: 78px;
                position: fixed;
            }
        }
        @include media(md) {
            max-width: 530px;
            width: 100%;
        }
        .carousel-inner {
            border-radius: 0px 0px 30px 30px;
            @include media(md) {
                border-radius: 0;
            }
        }
        img {
            object-fit: cover;
            @include media(md) {
                object-fit: none;
            }
        }
    }
    .content {
        @include media(md) {
            margin-top: 50px;
        }
        .description {
            line-height: 25px;
            letter-spacing: 0;
            color: $grey;
            @include font-size(18px);
            @include media(md) {
                width: 69%;
            }
        }
        .price {
            font-family: $font-title;
            font-weight: 900;
            @include font-size(40px);
            color: $brown;
            letter-spacing: 0.7px;
            margin: 10px 0 30px!important;
        }
        .maridaje {
            display: flex;
            justify-content: space-around;
            @include media(md) {
                justify-content: start;
            }
            .item {
                background: url(../img/bg-card-maridaje.png) no-repeat 0px 0px transparent;
                width: 150px;
                height: 300px;
                padding: 10px 15px;
                display: flex;
                flex-direction: column;
                align-items: center;
                @include media(md) {
                    margin-right: 20px;
                }
                .item-icon {
                    width: 90px;
                    height: 90px;
                    background: white;
                    border: 2px solid $white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50px;
                }
                h5 {
                    font-family: "Playfair Display";
                    font-weight: 600;
                    text-transform: none;
                    letter-spacing: 0.5px;
                    color: $grey;
                    margin: 0 0 10px 0;
                    @include font-size(18px);
                }
                p {
                    font-weight: 500;
                    @include font-size(14px);
                }
            }
        }
        .badge {
            border: 2px solid $grey-light;
            border-radius: 22px;
            color: $grey;
            min-width: 80px;
            width: 100%;
            height: 45px;
            font-weight: 500;
            padding: 10px 0;
            margin: 5px;
            @include font-size(14px);
            &.active {
                border: 2px solid $green;
                color: $green;
                font-weight: 600;
            }
        }
        .counter {
            width: 200px;
            margin: 0 auto;
            display: flex;
            justify-content: space-around;
            align-items: center;
            @include font-size(30px);
            .qty {
                color: $grey;
                font-weight: 600;
                -webkit-appearance: none;
                -moz-appearance: textfield;
                border: 0;
                width: 40%;
                background: none;
                text-align: center;
                @include font-size(18px);
            }
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            button {
                cursor: pointer;
                font-weight: 400;
                -webkit-appearance: none;
                -moz-appearance: none;
                border: 0;
                background: none;
                text-align: center;
            }
        }
    }
}