footer {
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    padding: 0 0 14px;
    @include media(md) {
        padding: 30px 0 14px;
    }
    .container {
        @include media(md) {
            border-top: 1px solid $white;
            padding-top: 30px;
        }
    }
    .logo-footer {
        border-top: 1px solid $white;
        border-bottom: 1px solid $white;
        padding: 50px 0 30px;
        margin: 30px 0;
        @include media(md) {
            border: none;
            margin: 0;
        }
        .link {
            margin: 30px 0 0;
            font-family: "Playfair Display";
            color: $grey;
            font-weight: 700;
            @include font-size(20px);
            display: flex;
            align-items: center;
            justify-content: center;
            .ig {
                background: url(../img/IG.svg) no-repeat center transparent;
                width: 20px;
                height: 20px;
                display: block;
                margin-right: 5px;
                margin-top: 5px;
            }
        }
    }
    .footer-nav-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include media(md) {
            padding: 0 80px;
        }
        a {
            color: $grey;
            line-height: 40px;
            font-weight: 500;
            width: 100%;
            text-align: center;
            @include font-size(18px);
            @include media(md) {
                max-width: 290px;
            }
        }
    }
    .border-right-light {
        @include media(md) {
            border-right: 1px solid $white;
        }
    }
    .border-left-light {
        @include media(md) {
            border-left: 1px solid $white;
        }
    }
    p {
        width: 100%;
        padding-top: 30px;
        line-height: 20px;
        letter-spacing: 1.3px;
        margin-top: 30px;
        border-top: 1px solid $white;
        text-align: center;
        @include font-size(14px);
    }
}