.suscripcion {
    @include media(md) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .suscripcion-title {
        text-transform: none;
        @include media(md) {
            font-size: 18px;
            background: none;
            line-height: 25px;
            text-align: left;
            padding: 0;
            margin: 0;
            letter-spacing: 0;
            font-family: $font-text;
            width: 100%;
        }
    }
    h4 {
        margin-bottom: 36px;
        @include media(md) {
            font-size: 33px;
            letter-spacing: 0.5px;
            margin: 0;
            text-align: left;
        }
    }
    .suscripcion-form {
        @include media(md) {
            width: 70%;
        }
        .form-group {
            @include media(md) {
                margin: 0 5px;
            }
            label {
                text-align: center !important;
            }
        }
        button.btn.btn-success {
            border: none;
            width: 100%;
            max-width: 200px;
            font-size: 14px;
            height: 45px;
            padding: 0;
            display: inline-block;
            margin: 0;
            @include media(md) {
                max-width: 150px;
                margin: 0 25px !important;
            }
        }
    }
}