.suscripcion {
    @include media(md) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .suscripcion-title {
        text-transform: none;
        font-family: $font-text;
        text-align: center;
        margin: 0!important;
        width: 100%;
        background: none;
        @include font-size(18px);
        @include media(md) {
            line-height: 25px;
            text-align: left;
            padding: 0;
            margin: 0;
            letter-spacing: 0;
        }
    }
    h4 {
        margin-bottom: 36px;
        @include media(md) {
            letter-spacing: 0.5px;
            margin: 0;
            text-align: left;
            @include font-size(33px);
        }
    }
    .suscripcion-form {
        @include media(md) {
            width: 70%;
            max-width: 100%;
        }
        .form-group {
            @include media(md) {
                margin: 0 5px;
            }
            label {
                text-align: center !important;
            }
        }
        button.btn.btn-success {
            border: none;
            width: 100%;
            max-width: 200px;
            height: 45px;
            padding: 0;
            display: inline-block;
            margin: 0;
            @include font-size(14px);
            @include media(md) {
                max-width: 150px;
                margin: 0 25px !important;
            }
        }
    }
}