.hero {
    &.is-dark {
        .navbar-toggler {
            .navbar-toggler-icon {
                background: white;
                &:before,
                &:after {
                    background: white;
                }
            }
        }
        .navbar-brand {
            background-image: url(../img/logo-ao-white.svg);
        }
        .shopping-cart-btn {
            background-image: url(../img/carrito-blanco.svg);
        }
        .nav-link {
            color: white!important;
        }
    }
    &.is-light {
        .navbar-toggler {
            .navbar-toggler-icon {
                background: $dark;
                &:before,
                &:after {
                    background: $dark;
                }
            }
        }
        .navbar-brand {
            background-image: url('../img/logo-ao-black.svg');
        }
        .shopping-cart-btn {
            background-image: url('../img/carrito-negro.svg');
        }
        .nav-link {
            color: $grey!important;
        }
    }
    .navbar {
        background-color: transparent!important;
        transition: all .1s ease-in-out;
        &.sticky {
            background-color: $bg-main!important;
            color: $grey!important;
            border-bottom: 1px solid $grey-light;
            padding-top: 0.5rem!important;
        }
        .navbar-toggler {
            padding: 0;
            .navbar-toggler-icon {
                background: none;
                width: 24px;
                height: 2.4px;
                border-radius: 4px;
                &:before,
                &:after {
                    content: "";
                    width: 32px;
                    height: 2.4px;
                    border-radius: 4px;
                    display: block;
                }
                &:before {
                    margin-top: -12px;
                }
                &:after {
                    margin-top: 22px;
                }
            }
        }
        .navbar-brand {
            width: 62px;
            height: 60px;
            margin: 0;
            background-repeat: no-repeat;
            background-position: center;
            background-color: transparent;
            padding: 0;
        }
        .shopping-cart-btn {
            width: 25px;
            height: 32px;
            flex-grow: 0;
            background-repeat: no-repeat;
            background-position: center;
            position: relative;
            .cart-number {
                position: absolute;
                bottom: 3px;
                left: -9px;
                margin: 0;
                border-radius: 50px;
                background: $green;
                color: white;
                width: 21px;
                height: 21px;
                font-size: 11;
                font-weight: 600;
                text-align: center;
            }
        }
        .nav-link {
            font-weight: 500;
            letter-spacing: 1px;
            text-align: right;
            padding: 0 10px!important;
            color: inherit
        }
    }
}