.card {
    border-radius: 30px;
    width: 300px!important;
    height: 450px;
    background: #fff;
    overflow: hidden;
    margin: 0 60px 0 0;
    @include media(md) {
        box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, .1);
    }
    .card-img-container {
        height: 50%;
        width: 100%;
        background: black;
        color: white;
        position: relative;
        margin: 0 0 24px;
        .card-img-top {
            position: absolute;
            color: white;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 0;
        }
        .card-title-img {
            font-family: $font-title;
            position: absolute;
            color: white;
            top: 40px;
            z-index: 1;
            letter-spacing: 0.83px;
            line-height: 40px;
            @include font-size(30px);
        }
        &.d-flex {
            justify-content: center;
            align-items: center;
            .card-title-img {
                position: static;
                margin: 0;
            }
        }
        .medalla {
            position: absolute;
            top: 126px;
            left: 10px;
            z-index: 2;
            width: 142px;
            height: 142px;
            display: block;
        }
    }
    .card-body {
        padding: 0;
        h4 {
            color: $green;
            font-weight: 600;
            font-family: $font-text;
            margin: 0 0 5px;
            @include font-size(14px);
        }
        .card-title {
            margin: 0 0 5px;
            letter-spacing: .5px;
            font-family: $font-title;
            @include font-size(30px);
        }
        .card-text {
            font-family: $font-text;
            line-height: 25px;
            letter-spacing: 0;
            text-align: center;
            padding: 0 1.25rem;
            @include font-size(18px);
        }
    }
}