.icons {
    display: flex;
    justify-content: space-around;
    div {
        width: 40%;
        margin: 0;
        @include media(md) {
            width: 18%;
            margin: 0 16px 0 0;
        }
        img {
            margin-bottom: 5px;
            height: 45px;
        }
        p {
            display: flex;
            flex-direction: column;
            font-style: italic;
            text-align: center;
            @include font-size(14px);
        }
    }
}