form {
    .form-group {
        position: relative;
        margin-bottom: 20px;
        label {
            color: $label;
            position: absolute;
            top: 0;
            left: 0;
            padding: 15px 30px;
            width: 100%;
            text-align: left;
            @include font-size(14px);
        }
        .form-control {
            border-radius: 25px;
            border: 1px solid $white;
            text-align: center;
        }
        textarea {
            height: 160px;
            resize: none
        }
        input[type="text"],
        input[type="email"] {
            height: 50px;
            color: $label;
        }
    }
    button.btn.btn-success {
        border: none;
        width: 100%;
        display: block;
        margin: 10px auto!important;
        padding: 20px;
        height: 60px;
        max-width: 300px;
        border-radius: 30px;
        font-weight: 600;
        @include font-size(18px);
        @include media(md) {
            margin: 10px 0!important;
        }
    }
}