.hero {
    &.is-dark {
        .carousel-control-prev-icon {
            background-image: url('../img/flecha-izquierda-blanca.svg');
        }
        .carousel-control-next-icon {
            background-image: url('../img/flecha-derecha-blanca.svg');
        }
        .carousel-caption {
            color: $white!important;
        }
    }
    &.is-light {
        .carousel-control-prev-icon {
            background-image: url('../img/flecha-izquierda-verde.svg');
        }
        .carousel-control-next-icon {
            background-image: url('../img/flecha-derecha-verde.svg');
        }
        .carousel-caption {
            color: $grey!important;
        }
    }
    .carousel.slide {
        height: 666px;
        margin-bottom: 50px;
        @include media(md) {
            margin-bottom: 70px;
        }
        .carousel-inner {
            .carousel-item {
                height: 100%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    display: block;
                    &.object-fit-contain {
                        object-fit: contain!important;
                    }
                }
                .carousel-caption {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    @include media(xs) {
                        left: 0;
                        right: 0;
                    }
                    @include media(md) {
                        left: 11%;
                        right: 11%;
                    }
                    h3 {
                        @include media(md) {
                            line-height: 70px;
                            letter-spacing: 1.3px;
                            font-weight: 400;
                            @include font-size(60px);
                        }
                    }
                    p {
                        font-weight: 500;
                        line-height: 25px;
                        letter-spacing: 0;
                        @include font-size(18px);
                        @include media(md) {
                            @include font-size(20px);
                        }
                        strong {
                            font-weight: 700
                        }
                    }
                }
            }
        }
    }
    .carousel-control-prev-icon {
        background-image: url('../img/flecha-izquierda-blanca.svg');
    }
    .carousel-control-next-icon {
        background-image: url('../img/flecha-derecha-blanca.svg');
    }
    .carousel-caption {
        color: $white!important;
    }
}