body {
    font-family: $font-text;
    font-weight: 400;
    color: $grey;
    text-align: center;
    background-color: $bg-main;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: $base-size;
}

a {
    color: $dark;
    @include transition(color .3s ease-in-out);
    &:hover {
        color: $grey;
    }
}