body {
    font-family: 'Montserrat';
    font-weight: 400;
    color: $grey;
    text-align: center;
    background-color: $bg-main;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
}

a {
    color: $dark;
    transition: color .3s ease-in-out;
    &:hover {
        color: $grey;
    }
}