$bg-main: rgba(246, 246, 246, 1);
$white: rgba(239, 239, 239, 1);
$light: rgba(192, 192, 192, 1);
$grey-light: rgba( 154, 154, 154, 1);
$grey: rgba(74, 74, 74, 1);
$dark: rgba(11, 11, 11, 1);
$brown: rgba( 101, 85, 54, 1);
$orange: rgba(167, 135, 77, 1);
$green: rgba(22, 100, 57, 1);
$breakpoint-xs: 360px;
$breakpoint-sm: 767px;
$breakpoint-md: 1023px;
$breakpoint-lg: 1360px;
$font-title: "Playfair Display";
$font-text: 'Montserrat';
$base-size: 16px;